.description-box{
	padding: 88px 0;
	color: $gray;
	font-size: 14px;
	line-height: 20px;
	@include media ('<tablet'){
		display: none;
	}
	h1{
		margin: 0 0 65px;
		&:after{
			bottom: -30px;
		}
	}
	.item{
		width: 33.33%;
		float: left;
		text-align: left;
		padding: 0 12px;
	}
}