.footer{
	display: none;
	@include media ('<tablet'){
		@extend %clearfix;
		display: block;
		padding: 6px 27px;
		font-size: 12px;
		color: $gray;
	}
	.fa{
		color: #1d8cb5;
		margin: 0 2px 0;
	}
}
.footer-nav{
	@extend %clearfix;
	border-bottom: 1px solid #ddd;
	margin: 0 0 10px;
	.box{
		width: 50%;
		float: left;
		padding: 0;
		&:last-child{
			a{
				padding: 0 0 0 5px;
			}
		}
		li{
			list-style-type: none;
			line-height: 20px;
		}
	}
	a{
		color: inherit;
		transition: color .3s linear;
		&:hover{
			color: darken($gray, 50%);
		}
	}
}
.footer-logo{
	@extend %clearfix;
	margin: 0 0 15px;
	img{
		margin: 0 auto 5px;
		display: block;
		max-width: 87px;
	}
}
.copyright{
	text-align: center;
	font-size: 10px;
}
.regulated{
	font-size: 10px;
}