.btn{
	clear:both;
	font:bolder normal 12px/19px $base-font-family;
	color: #1a3255;
	width: 170px;
	padding: 15px 0;
	border: 1px solid #1a3255; 
	display: block;
	text-align: center;
	transition: background .3s linear;
	line-height: 19px;
	&:hover{
		cursor: pointer;
		background: #1a3255;
		color: $white;
	}
	@include media ('<tablet'){
		padding: 12px 0;
		font: bolder 12px $base-font-family;
	}
	.fa{
		padding: 0 7px;
	}
}